root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{kt,kts}]
indent_style = space
indent_size = 2
ktlint_standard_filename = disabled
ktlint_standard_property-naming = disabled
ktlint_code_style = ktlint_official
