## Based on default libGDX project settings.

## Java
*.class
*.war
*.ear
hs_err_pid*

## Android Studio, IntelliJ, Android
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
.idea/
*.ipr
*.iws
*.iml
*.so
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## Gradle
.gradle
gradle-app.setting
build/

## OS-specific, others
.DS_Store
TODO

